<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta charset="UTF-8">
  <meta name="description" content="Review and comment page of My website">
  <meta name="author" content="Sarbajit">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Log-Out</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='logout.css') }}">
</head>
<body>
<div class="logout">
  <h1>Thank You!!!</h1>
  <h2>Logged Out Successfully</h2>
    <h2>Please  <a href="{{ url_for('login') }}">Click Here!</a> to login once again</h2>
</div>

</body>
</html>
